@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Staatliches&display=swap");

.artistInput {
  margin-top: 20px;
  height: 80px;
  width: 50%;
  color: rgb(0, 0, 0);
  font-size: 3em;
  font-family: "Poppins", sans-serif;
  padding: 20px;
}

::placeholder {
  color: rgb(0, 0, 0);
  font-size: 1em;
  font-family: "Poppins", sans-serif;
}
